* {margin: 0; padding: 0; transition: all 1s ease;}
body { color: white; }


/* @begin header #################################################### */
header { background-color: #00b19a; }
header p { font-size: 2.8em; font-weight: bold; }

.header-msg * { margin: 15px; }

/* @begin main #################################################### */
main {
	color: #6C6C6C;
	margin: 60px auto;
}
main img {
	width: 100%;
	height: 100%;
}

/* @begin footer #################################################### */
footer {
	background-color: #00b19a;
	padding-top: 50px;
}
footer img {
	width: 286px;
	height: 256px;
}
footer .footer-msg {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	font-size: 22px;
}
footer p:first-child { font-size: 1.7em; font-weight: bold; }

footer .footer-msg ul {
	padding-left: 5px;
	list-style: none;
}
footer .footer-sign {
	background-color: #333;
	padding: 30px 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
footer .sign-options, footer .sign-copy {
		margin: 0 25px;
}
footer .sign-options a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	margin-right: 25px;
}
footer .sign-options a:hover {
	color: #00b19a;
	font-size: 1.25em;
}
footer .sign-copy {
	font-size: .8em;
}
@media screen and (max-width: 816px) {
	footer .footer-sign {
		justify-content: center;
	}
	footer .sign-options {
		margin-bottom: 15px;
	}
}

/*@media screen and (max-width: 1199px) and (min-width: 587px) {  /* entre 587 y 1199 */
